<h4>Administratorer</h4>

<ol class="list-group">
	{% for admin in omrade.getAdministratorer().getAll() %}
		<li
			class="box-admin">
			<!-- Slett bruker -->
			<div class="float-right pull-right">
				<a href="?page={{ GET('page') }}&removeAdmin={{ admin.getId() }}&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}">
					<span class="dashicons dashicons-trash"></span>
				</a>
			</div>
			<!-- Send mail -->
			<div class="float-right pull-right" style="margin-right: 1rem;">
				<a href="mailto:{{ admin.getUser().getEmail() }}">
					<span class="dashicons dashicons-email-alt" style="margin-left:.5 rem"></span>
				</a>
			</div>
			<!-- Vis på kontaktside -->
			<div class="float-right pull-right" style="margin-right: 1rem;">
                {% set action = admin.erKontaktperson(omrade) ? 'hideAdmin' : 'showAdmin' %}
				<a href="?page={{GET('page')}}&{{action}}={{admin.getId()}}&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}">
					<span class="dashicons dashicons-{{action == 'hideAdmin' ? 'visibility' : 'hidden' }}" style="margin-left:.5 rem"></span>
				</a>
			</div>
			
			{% if is_super_admin %}
				<div class="float-right pull-right" style="margin-right: .7rem;">
					<a class="superadmin" href="/wp-admin/network/user-edit.php?user_id={{ admin.getId() }}">
			            <span class="superadmin dashicons dashicons-edit"></span>
					</a>
				</div>
			{% endif %}
			<div class="administrator_liste_punkt">
				<b>{{ admin.getUser().getNavn() }}</b>
				{{ admin.getUser().getPhone() }}
				{% if is_super_admin %}
					<br/><small>Brukernavn:
						{{ admin.getUser().getUsername() }}</small>
				{% endif %}
			</div>
			{% if admin.erKontaktperson(omrade) %}
				{% set bilde = admin.getKontaktperson().getBilde() %}
				

				{% if bilde %}
					<div class="profilbilde">
						<div class="bilde">
							<img class="bruker-img" src="{{ bilde }}" />
							<div class="slett-bilde">
								<button class="button-slett-bilde" admin-id="{{ admin.getUser().getId() }}">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #fff;transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"></path></svg>
								</button>
							</div>
						</div>
					</div>
				{% else %}
					<div class="last-opp-bilde">
						<a class="button-profilbilde btn btn-light collapsed" data-toggle="collapse" href="#collapseDiv{{ admin.getId() }}" role="button" aria-expanded="false" aria-controls="collapseDiv{{ admin.getId() }}">
							+ Profilbilde
						</a>
						<div>
							<div class="collapse" id="collapseDiv{{ admin.getId() }}">
								<div class="last-opp card card-body">
									Last opp profilbilde: <input class="admin-profile-picture" admin-id="{{ admin.getUser().getId() }}" type="file" name="profile_picture" />
								</div>
								<div class="last-opp-vent hide card card-body">
									<span>Vi gjør bildet klart, vennligst vent!</span>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				
			{% endif %}
			
		</li>
	{% else %}
		<li class="box-admin">
			Ingen administratorer er lagt til enda.
		</li>
	{% endfor %}
	<ol class="box-admin">
		<a href="?page={{ GET('page') }}&action=administrator-add&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}" style="text-decoration: none;">
			<span class="dashicons dashicons-plus"></span>
            Legg til administrator
		</a>
	</ol>
</ol>

<p class="small text-muted">
    <b>
    <span class="dashicons dashicons-visibility"></span> / 
    <span class="dashicons dashicons-hidden"></span>
    :
    </b>
    Angi om administratoren skal vises på {{ omrade.getNavn() }} <a href="{{ omrade.getLink() }}kontaktpersoner/">sin kontaktside</a>.
</p>


<style>
.bruker-img {
	width: 140px !important;
	height: auto !important;
	border-radius: 3px;
	margin-top: 10px;
}
.last-opp-bilde {
	margin: 10px 0;
}
.button-profilbilde.collapsed {
	display: inline;
}
.button-profilbilde {
	display: none;
}
.box-admin {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 7px #00000014;
    margin-bottom: 4px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
    padding: 20px;
}
.profilbilde {
	display: flex;
}
.profilbilde .bilde {
	position: relative;
	margin: auto;
	margin-left: 0;
}
.slett-bilde {
	position: absolute;
    top: 15px;
    right: 5px;
	visibility: hidden;
	opacity: 0;
}
.profilbilde .bilde:hover .slett-bilde {
	visibility: visible;
	opacity: 1;
}
.slett-bilde button {
    padding: 0;
    height: 25px;
    width: 25px;
    border: none;
    background: transparent;
}
</style>