<h4 class="nom as-margin-top-space-2 as-margin-bottom-space-2">Kontaktpersoner for {{ omrade.getNavn() }} </h4>

<ul class="list-group">
	{% for omradeKontaktperson in omrade.omradeKontaktpersoner().getAll() %}
		<li
			class="nop as-card-2 as-padding-space-3 as-margin-bottom-space-2">
			<!-- Slett bruker -->
			<div class="float-right pull-right">
				{# <a href="{{ URLDeleteArrang }}&action={{arrangement.erKunstgalleri() ? 'kunstgalleri' : 'arrangement' }}-slett&arr={{arrangement.getId() }}"> #}

				<a href="?page={{ GET('page') }}&action=omradekontaktperson-remove-connection&mobil={{ omradeKontaktperson.getMobil() }}&omradeId={{ omrade.getForeignId() }}&omradeType={{ omrade.getType() }}">
					<span class="dashicons dashicons-trash"></span>
				</a>
			</div>
             <div class="float-right pull-right" style="margin-right: .7rem;">
                <a href="?page={{ GET('page') }}&action=omradekontaktperson-edit&mobil={{ omradeKontaktperson.getMobil() }}">
                    <span class="dashicons dashicons-edit"></span>
                </a>
            </div>
			
			<div class="administrator_liste_punkt">
				<b>{{ omradeKontaktperson.getNavn() }}</b>
				<p>{{ omradeKontaktperson.getMobil() }} <br>
				{{ omradeKontaktperson.getEpost() }}</p>
			</div>

            {% if omradeKontaktperson.hasProfileImage() %}
                <div class="profilbilde">
                    <div class="bilde">
                        <img class="bruker-img" src="{{ omradeKontaktperson.getProfileImageUrl() }}" />
                    </div>
                </div>
            {% endif %}
            

		</li>
	{% else %}
		<li class="nop as-card-1 as-padding-space-3 as-margin-bottom-space-2">
			Ingen kontaktpersoner er lagt til enda.
		</li>
	{% endfor %}
	<ol class="nop as-card-1 as-padding-space-3 as-margin-bottom-space-2">
		<a href="?page={{ GET('page') }}&action=omradekontaktperson-new&omradeId={{ omrade.getForeignId() }}&omradeType={{ omrade.getType() }}" style="text-decoration: none;">
			<span class="dashicons dashicons-plus"></span>
            Legg til kontaktperson
		</a>
	</ol>
</ul>
{# <ul class="list-group">
	{% for omradeKontaktperson in omrade.omradeKontaktpersoner().getAll() %}
		<li class="nop as-card-2 as-padding-space-3 as-margin-bottom-space-2">
			{{ omradeKontaktperson.getNavn() }}
			{{ omradeKontaktperson.getTelefon() }}
			{{ omradeKontaktperson.getEpost() }}
		</li>
	{% endfor %}
</ul> #}


<style>
.bruker-img {
	width: 140px !important;
	height: auto !important;
	border-radius: 3px;
	margin-top: 10px;
}
.last-opp-bilde {
	margin: 10px 0;
}
.button-profilbilde.collapsed {
	display: inline;
}
.button-profilbilde {
	display: none;
}
.box-admin {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 7px #00000014;
    margin-bottom: 4px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
    padding: 20px;
}
.profilbilde {
	display: flex;
}
.profilbilde .bilde {
	position: relative;
	margin: auto;
	margin-left: 0;
}
.slett-bilde {
	position: absolute;
    top: 15px;
    right: 5px;
	visibility: hidden;
	opacity: 0;
}
.profilbilde .bilde:hover .slett-bilde {
	visibility: visible;
	opacity: 1;
}
.slett-bilde button {
    padding: 0;
    height: 25px;
    width: 25px;
    border: none;
    background: transparent;
}
</style>