<h2>
    Legg til nytt arrangement i
    {{ omrade.getNavn() }}
</h2>

<style>
    h4 {
        margin-bottom: -0.5em;
        margin-top: 2em;
    }

    .optionCard .dashicons {
        font-size: 3em;
        text-align: center;
        float: right;
        color: #ccc;
        margin-right: -0.8em;
    }

    .optionCard {
        padding-right: 4.5em;
        cursor: pointer;
    }

    .optionCard.selected {
        background: #428bca;
        color: #fff;
        border: 4px solid #0073aa;
    }

    .optionCard .header {
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: 0.2em;
    }

    input[type='checkbox'].form-control {
        margin-top: -0.1em;
        margin-right: 0.5em;
    }
</style>

<script>
    $(document).ready(() => {
        UKMresources.optionCard.init();

        UKMresources.optionCard.on('pamelding', (valgt) => {
            $('#omArrangementet').slideDown();
        });

        UKMresources.optionCard.on('type', (valgt) => {
            if (valgt == 'monstring') {
                $('#fellesmonstringWarning').slideDown();
            } else {
                $('#fellesmonstringWarning').slideUp();
            }
        })
    });

    $(document).on('change', '#radioButtonValue_sammen', (e) => {
        if ($(e.target).val() == 'yes') {
            $('#medArrangor').slideDown();
        } else {
            $('#medArrangor').slideUp();
        }
    });

    $(document).on('click', 'input[name="kommuner[]"]', (e) => {
        console.log( $(e) )

        var selected = [];
        $('input[name="kommuner[]"]').each( (index,item) => {
            if( $(item).is(':checked') ) {
                selected.push( $(item).attr('data-name') );
            }
        });
        
        if( selected.length == 1 ) {
            var selected_text = selected[0];
        }
        else if( selected.length == 2 ) {
            var selected_text = selected.join(' og ');
        } else {
            var last = selected.pop();
            var selected_text = selected.join(', ') + ' og '+ last;
        }
        $('#arrangement_navn').val( selected_text );

        console.log( selected );
    });
</script>

<div style="width: 98%">
    {% include "wp_modul.flashBag.html.twig" %}

    <form action="?page={{ GET('page') }}&action=arrangement-add&omrade={{ GET('omrade') }}&type={{ GET('type') }}" id="formContainer" method="POST">

        <p class="lead">
            Arrangement du legger til blir tilknyttet
            {% if omrade.getType() == 'fylke' %}
                ditt fylke.
                                                                                Typisk er dette fylkes-festivalen, eller en av flere fylkesfestivaler.
            {% elseif omrade.getType() == 'kommune' %}
                {% set kommune = omrade.getFylke().erOslo() ? 'bydel' : 'kommune' %}
                {% set kommunen = omrade.getFylke().erOslo() ? 'bydelen' : 'kommunen' %}
                din
                {{kommune}}, og du kan lage så mange du vil.
                <br/>
                Skal du ha én mønstring i din
                {{kommune}}
                bør du kalle denne
                {{ omrade.getNavn() }}.
            {% endif %}
        </p>

        <h4>Hvilken type arrangement vil du opprette?</h4>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card" data-group="type" data-value="monstring">
                    <div class="dashicons dashicons-buddicons-groups"></div>
                    <div class="header">Mønstring</div>
                    <p>
                        Den vanligste arrangementsformen.
                        Åpner automatisk for innslag i kategorien scene, utstilling og film, 
                        mens de øvrige deltakergrenene er valgfri.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card" data-group="type" data-value="arrangement">
                    <div class="dashicons dashicons-tickets-alt"></div>
                    <div class="header">Arrangement</div>
                    <p>
                        <span class="label label-info">Kommer snart</span>
                        Hvis du skal ha foredrag, workshop, meet-up, eller noe annet,
                        kan kan du her lage et arrangement som vises på lokalsiden.
                    </p>
                </div>
            </div>
        </div>

        <h4>Hvordan skal påmeldingen skje?</h4>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card" data-group="pamelding" data-value="videresending">
                    <div class="dashicons dashicons-networking"></div>
                    <div class="header">Videresending</div>
                    <p>
                        Velger du denne er du avhengig av at andre
                        arrangementer sender deltakere til deg, 
                        da det ikke finnes påmeldingsskjema noe sted.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card" data-group="pamelding" data-value="apen">
                    <div class="dashicons dashicons-unlock"></div>
                    <div class="header">Åpen påmelding</div>
                    <p>
                        Åpner påmeldingen for hvem som helst gjennom
                        vanlig påmeldingsskjema.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card" data-group="pamelding" data-value="lukket">
                    <div class="dashicons dashicons-lock"></div>
                    <div class="header">Påmelding med krav</div>
                    <p>
                        <span class="label label-info">Kommer snart</span>

                        Her kan du sette noen krav deltakere må oppfylle før de kan melde seg på,
                        for eksempel at de må være påmeldt fylkesfestivalen din.
                    </p>
                </div>
            </div>
        </div>

        {% if omrade.getType() == 'kommune' %}
            <h4>Arrangerer du sammen med andre
                {{ omrade.getFylke().erOslo() ? 'bydeler' : 'kommuner'}}?</h4>
            <div class="row" style="margin-top: 2em;">

                <div class="col-xs-6 col-sm-4 col-lg-3">

                    <div class="btn-group radioButtons" data-name="sammen">
                        <button type="button" class="btn btn-default" value="yes">
                            &nbsp; Ja &nbsp;</button>
                        <button type="button" class="btn btn-default selected" value="no">
                            &nbsp; Nei &nbsp;</button>
                    </div>
                </div>
            </div>

            <div id="medArrangor" style="display:none; margin-top: 1em;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <label>Kryss av for de du arrangerer sammen med</label>
                        <p id="fellesmonstringWarning">
                            Vi vet at nærhet til UKM er en viktig årsak til 
                            at ungdom velger å delta eller ikke.
                            Dette er viktig å tenke gjennom før man oppretter en fellesmønstring.
                        </p>
                        <ol class="list-group">
                            {% for kommune in omrade.getFylke().getKommuner().getAll() %}
                                <li class="list-group-item">
                                    <label class="{{ kommune.getId() == omrade.getKommune().getId() ? 'text-muted'}}">
                                        <input class="form-control" type="checkbox" value="{{kommune.getId()}}" name="kommuner[]" data-name="{{kommune.getNavn()}}" {{ kommune.getId() == omrade.getKommune().getId() ? 'checked disabled'}}/>
                                        {{ kommune.getNavn() }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        {% endif %}

        <div id="omArrangementet" style="display:none;">
            <div class="row" style="margin-top:2em;">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Navn på arrangementet</label>
                        <input type="text" class="form-control form-control-lg" name="navn" id="arrangement_navn" value="{{ omrade.getNavn() }}" placeholder="Trøndelag, Viken Øst, Nordland, Agder..." required/>
                    </div>

                    <div class="form-group">
                        <label>Når starter arrangementet?</label>
                        <input class="datepicker_{{ GET('type') }} form-control" type="text" name="start" value="{{ "now + 2 months"|dato('d.m.Y') }}" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Opprett</button>
                </div>
            </div>
        </div>
    </form>
</div>
