{% set har_innslag = arrangement.getInnslag().getAntall() > 0 or arrangement.getInnslag().getAllUfullstendige()|length > 0 %}
<style>
	.mt-3 {
		margin-top: 1.5em;
	}
</style>
<script>
	jQuery(document).on('change', '#velgArrangement', function () {
jQuery('#steg2').slideDown();
});

jQuery(document).on('click', '#pamelding_turn_on', function(){
    jQuery(this).attr('temp-text', jQuery(this).html());
    jQuery(this).addClass('btn-warning').removeClass('btn-success').html('Sl친r p친 p친melding...');
    jQuery('#pamelding_turn_on_fail').slideUp();

    UKMresources.Request({
        action: 'UKMnettverket_ajax',
        controller: 'activatePamelding',
        containers: {
            loading: '#pamelding_turn_on',
            fatalError: '#fatalErrorContainer'
        },
        handleSuccess: function(response) {
            jQuery('#pamelding_turn_on_container').slideUp()
            jQuery('#pamelding_turned_on_container').slideDown()
        },
        handleError: function(response) {
            jQuery('#pamelding_turn_on_fail').slideDown();
            jQuery('#pamelding_turn_on').slideDown().addClass('btn-success').removeClass('btn-warning').html( jQuery('#pamelding_turn_on').attr('temp-text'));
        },
    }).do({
        arrangement: {{ arrangement.getId() }}
    });
});
</script>
<form action="?page={{GET('page')}}&omrade={{GET('omrade')}}&type={{GET('type')}}&fix=arrangement_slett&arr={{GET('arr')}}" method="POST">
	<div class="container-fluid">
        <div class="row">
			<div class="col-xs-12 col-md-8">
				<h2>Slett "{{ arrangement.getNavn()}}"</h2>
				{% include "wp_modul.flashbag.html.twig" %}
		        <div class="alert alert-danger" id="fatalErrorContainer" style="display:none;"></div>

				{% if arrangementerSammeType|length < 1 and har_innslag %}
					<p class="text-danger">
						Beklager, fordi du har p친meldte, kan du ikke slette dette arrangementet, da det er ditt eneste arrangement av denne typen.
					</p>

					<ol class="list-group">
						<li class="list-group-item">
							Arrangementet har
							{{ arrangement.getInnslag().getAntall() }}
							p친meldte innslag, og
							{{ arrangement.getInnslag().getAllUfullstendige()|length }}
							p친begynte p친meldinger som m친 meldes av f칮r du kan slette arrangementet.
						</li>
						<li class="list-group-item">
							Hvis arrangementet virkelig skal slettes, m친 du f칮rst inn p친 
                            "<a href="{{arrangement.getLink()}}wp-admin/admin.php?page=UKMdeltakere">p친meldte</a>", 
							melde av alle innslag, og s친 pr칮ve igjen.

							<p>
								<b>Husk:</b>
								hvis du melder av et innslag, m친 du gi de beskjed om at de er avmeldt, 
							    da det ikke er noe automatikk for dette i systemet.
							</p>
						</li>

						{% if arrangement.getInnslag().getAllUfullstendige()|length > 0 and not arrangement.harPamelding() %}
							<li class="list-group-item" id="pamelding_turn_on_container">
								Fordi p친melding er sl친tt av for arrangementet, vil du ikke f친 opp de
								{{ arrangement.getInnslag().getAllUfullstendige()|length  }}
								p친begynte p친meldingene. 
                                Trykk p친 knappen nedenfor for 친 sl친 p친 p친meldingen. 
                                Deretter kan du g친 til "<a href="{{arrangement.getLink()}}wp-admin/admin.php?page=UKMdeltakere">p친meldte</a>"
                                    for 친 melde av alle innslag, og s친 pr칮ve igjen.
								<br/>
                                <p id="pamelding_turn_on_fail" class="text-danger" style="display:none;">Kunne ikke aktivere p친melding. Pr칮v igjen.</p>
								<a href="#" id="pamelding_turn_on" class="btn btn-ukm btn-success btn-sm">Sl친 p친 p친melding</a>
							</li>
							<li class="list-group-item" id="pamelding_turned_on_container" style="display:none;">
								P친melding er n친 sl친tt p친 for arrangementet. 
                                G친 til "<a href="{{arrangement.getLink()}}wp-admin/admin.php?page=UKMdeltakere">p친meldte</a>"
								for 친 melde av alle innslag. Deretter kan du <a href="javascript:window.location.reload();">pr칮ve igjen</a>.
							</li>
						{% endif %}


					</ol>
				{% elseif arrangementerSammeType|length > 1 and har_innslag %}
					<h3 class="mt-3">
						Hvilket arrangement skal overta{{ har_innslag ? 'p친meldte innslag' }}?
					</h3>

					<select name="transfer" id="velgArrangement" class="form-control" required>
						<option value="false" selected disabled>Velg arrangement</option>
						{% for annet_arr in arrangementerSammeType|filter( annet_arr => annet_arr.getId() != arrangement.getId() ) %}
							<option value="{{ annet_arr.getId() }}">
								{{ annet_arr.getNavn() }}
							</option>
						{% else %}
							<option value="false" disabled>Du har bare dette arrangementet</option>
						{% endfor %}
					</select>
				{% elseif arrangementerSammeType|length == 1 and har_innslag %}
					{% for annet_arr in arrangementerSammeType|filter( annet_arr => annet_arr.getId() != arrangement.getId() ) %}
						<input type="hidden" name="transfer" id="velgArrangement" value="{{ annet_arr.getId() }}"/>
					{% endfor %}
					<script>
						jQuery(document).ready(function () {
jQuery('#steg2').show();
});
					</script>
				{% else %}
					<script>
						jQuery(document).ready(function () {
jQuery('#steg2').show();
});
					</script>
				{% endif %}

				<div id="steg2" style="display:none;">
					<h3>Sjekkliste</h3>
					<ol class="list-group">
						<li class="list-group-item">
							<b>P친meldte</b><br/>
							{% if arrangement.getInnslag().getAntall() == 0 and arrangement.getInnslag().getAllUfullstendige()|length == 0 %}
								Arrangementet har ingen p친meldte. Det er en god ting n친r det skal slettes
								<span style="font-size:1.4em;">游땙</span>
							{% else %}
								Arrangementet har
								{{ arrangement.getInnslag().getAntall() }}
								p친meldte innslag, og
								{{ arrangement.getInnslag().getAllUfullstendige()|length }}
								p친begynte p친meldinger.
								                            Disse blir flyttet til
								{% if arrangementerSammeType|length == 1 %}
									{# to == 1, da ett slettes #}
									{{ arrangementerSammeType[0].getNavn() }}
								{% else %}
									det valgte arrangementet.
								{% endif %}
							{% endif %}
						</li>
						{#<li class="list-group-item">
												<b>Kontaktpersoner</b><br/>
												{% if arrangement.getKontaktpersoner().getAntall() == 0 %}
													Arrangementet har ingen kontaktpersoner. Det er greit 游녨游낖
												{% elseif omrade.getKommendeArrangementer().getAntall() == 1 %}
													Fordi du ikke har andre arrangement, vil kontaktpersonene slettes med arrangementet. Ikke s친 farlig
													<span style="font-size:1.4em;">游봌</span>
												{% else %}
													Arrangementet har
													{{ arrangement.getKontaktpersoner().getAntall() }}
													kontaktperson{{ arrangement.getKontaktpersoner().getAntall > 1 ? 'er'}}.
													                        Kryss av
													{{ arrangement.getKontaktpersoner().getAntall() == 1 ? 'om' : 'for de' }}
													du 칮nsker 친 overf칮re til et annet arrangementet.
													<ol class="list-group list-group-flush" style="margin-top:1em;margin-bottom:.5em;">
														{% for kontaktperson in arrangement.getKontaktpersoner().getAll() %}
															<li class="list-group-item">
																<label>
																	<input class="form-control" type="checkbox" name="kontaktperson[]" value="{{ kontaktperson.getId() }}"/>
																	{{ kontaktperson.getNavn() }}
																</label>
															</li>
														{% endfor %}
													</ol>
												{% endif %}
											</li>#}
						<li class="list-group-item">
							<b>Nyhetssaker (innlegg)</b><br/>
							{% if num_posts > 0 %}
								Du har
								{{ num_posts }}
								publisert{{ num_posts > 1 ? 'e' }}
								nyhetssak{{ num_posts > 1 ? 'er'}}
								p친 denne arrangementssiden.
								{% if is_kommune_path %}
									Fordi dette arrangementet vises p친 kommunesiden, vil disse bli bevart
								{% else %}
									<span class="text-danger">
										<br/>Hvis du vil ta vare p친
										{{ num_posts == 1 ? 'dette':'disse' }}, m친 du be
										<a href="mailto:support@ukm.no?subject=Flytt nyhetssaker og slett arrangement">support@ukm.no</a>
										om 친 slette arrangementet for deg. Hvis ikke blir alle nyhetssakene slettet for godt
										<span style="font-size:1.4em;">游땳</span>
									</span>
								{% endif %}
							{% else %}
								Du har ingen nyhetssaker som vil bli slettet om du sletter dette arrangementet
								<span style="font-size:1.4em;">游봅</span>
							{% endif %}
						</li>
					</ol>

					{% if omrade.getKommendeArrangementer().getAntall() > 1 and har_innslag %}
						<h3 class="mt-3">Er du klar?</h3>
						<button type="submit" class="btn btn-danger" onclick="return confirm('Er du sikker?');">Overf칮r informasjon, og slett arrangementet</button>
					{% else %}
						<h3 class="mt-3">Er du klar?</h3>
						<button type="submit" class="btn btn-danger" onclick="return confirm('Er du sikker?');">Slett arrangementet</button>
					{% endif %}
				</div>
			</div>
		</div>
	</form>
