<div style="width: 98%">
    <h2>
        Administratorer for
        {{ POST.navn }}
    </h2>
    
    {% include "wp_modul.flashBag.html.twig" %}

    <p class="lead">
        Hvem skal ha rettigheter til å administrere arrangementet {{ POST.navn }}?
    </p>
    <p>
        Du kan også endre dette senere, om du ønsker dette.
    </p>
    <form action="?page={{ GET('page') }}&omrade={{ GET('omrade') }}&type={{ GET('type') }}" method="POST" id="formContainer">
        

        <div style="margin-top: 2em;">
            <button class="btn btn-success" id="pathSubmit" type="submit">Lagre</button>
        </div>
    </form>
</div>