<h2>
    Legg til nytt arrangement i
    {{ omrade.getNavn() }}
</h2>

<script>
    var checkboxSelector = 'input[name="kommuner[]"]';

    // VALGT FELLESMØNSTRING JA/NEI
    jQuery(document).on('change', '#radioButtonValue_sammen', function(e) {
        if (jQuery(e.target).val() == 'yes') {
            jQuery('#medArrangor').slideDown();
        } else {
            jQuery(checkboxSelector).not(':disabled').removeAttr('checked');
            UKMresources.arrangement.setNameFromCheckbox(checkboxSelector, '#arrangement_navn');
            jQuery('#medArrangor').slideUp();
        }
    });

    // VALGT SYNLIG PÅ UKM.NO JA/NEI
    jQuery(document).on('change', '#radioButtonValue_synlig', function(e) {
        if (jQuery(e.target).val() == 'true') {
            jQuery('#startDate').slideDown();
           // jQuery('#stopDate').slideDown();
        } else {
            jQuery('#startDate').slideUp();
            //jQuery('#stopDate').slideUp();
        }
    });

    // KRYSSET AV CHECKBOX (HVIS FELLESMØNSTRING)
    jQuery(document).on('click', checkboxSelector, function(e) {
        UKMresources.arrangement.setNameFromCheckbox(checkboxSelector, '#arrangement_navn');
    });

    // ENDRET NAVN PÅ ARRANGEMENTET
    jQuery(document).on('keyup', '#arrangement_navn', function() {
        // Kommunen arrangerer sammen med andre: lag liste av kommunenavn
        if (jQuery('#omrade_type').val() == 'kommune' && jQuery('#radioButtonValue_sammen') && jQuery('#radioButtonValue_sammen').val() == 'yes') {
            jQuery('#path').val(UKMresources.arrangement.getPathFromForm(checkboxSelector));
        }
        // Første arrangement i kommunen overtar kommunens path
        else if ( jQuery('#omrade_type').val() == 'kommune' && jQuery('#omrade_har_arrangement').val() == 'false') {
            jQuery('#path').val(UKMresources.arrangement.getPathFromForm(false, '#omrade_navn'));
            jQuery('#path-infos').slideUp(); // Skjul path - 
        }
        // Alle andre får arrangementsnavn
        else {
            jQuery('#path').val(UKMresources.arrangement.getPathFromForm(false, '#arrangement_navn'));
        }
        jQuery('#path').trigger('keyup');
    });
    
    // ENDRET PATH
    jQuery(document).on('keyup', '#path', function() {
        UKMresources.arrangement.isPathAvailable(jQuery('#path').val());
    });

    jQuery(document).on('change', '#arrangement_start', function(){
        jQuery('#arrangement_navn').trigger('keyup');
    });

    // INITIER SKJEMA
    jQuery(document).ready(function() {
        UKMresources.optionCard.on('pamelding', function(valgt) {
            if (valgt == 'videresending') {
                jQuery('#velgSynlig').slideDown();
            } else {
                jQuery('#velgSynlig').slideUp();
            }
            jQuery('#omArrangementet').slideDown();
        });
        UKMresources.optionCard.on('type', function(valgt) {
            if (valgt == 'monstring') {
                jQuery('#fellesmonstringWarning').slideDown();
                jQuery('#warningWorkshop').slideUp();
            } else {
                jQuery('#fellesmonstringWarning').slideUp();
                jQuery('#warningWorkshop').slideDown();
            }
        });
        jQuery('#arrangement_navn').keyup();

    });
</script>

<style>
    .nop {
        padding: 0;
    }
    #warningWorkshop {
        display: none;
        margin-top: 20px;
    } 
</style>

<div style="width: 98%" id="arrangement-add">
    {% include "wp_modul.flashbag.html.twig" %}
    <div class="card text-danger" id="fatalErrorContainer" style="display: none;"></div>

    <form action="?page={{ GET('page') }}&action=arrangement-add&omrade={{ GET('omrade') }}&type={{ GET('type') }}" id="formContainer" method="POST">

        <input type="hidden" name="omrade_navn" id="omrade_navn" value="{{omrade.getNavn()}}"/>
        <input type="hidden" name="omrade_type" id="omrade_type" value="{{GET('type')}}"/>
        <input type="hidden" name="omrade_id" id="omrade_id" value="{{GET('omrade')}}"/>
        <input type="hidden" name="omrade_har_arrangement" id="omrade_har_arrangement" value="{{ omrade.getArrangementer().har() ? 'true' : 'false' }}"/>

        <p class="lead">
            Arrangement du legger til blir tilknyttet
            {% if omrade.getType() == 'fylke' %}
                ditt fylke. Typisk er dette fylkes-festivalen, eller en av flere fylkesfestivaler.
            {% elseif omrade.getType() == 'kommune' %}
                {% set kommune = omrade.getFylke().erOslo() ? 'bydel' : 'kommune' %}
                {% set kommunen = omrade.getFylke().erOslo() ? 'bydelen' : 'kommunen' %}
                din
                {{kommune}}, og du kan lage så mange du vil.
                <br/>
                Skal du ha én mønstring i din
                {{kommune}}
                bør du kalle denne
                {{ omrade.getNavn() }}.
            {% endif %}
        </p>

        <h4>Hvilken type arrangement vil du opprette?</h4>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card selected" data-group="type" data-value="monstring">
                    <div class="dashicons dashicons-buddicons-groups"></div>
                    <div class="header">Mønstring / Festival</div>
                    <p>
                        Den vanligste arrangementsformen, hvor deltakerne melder seg på i grupper eller som enkeltpersoner. 
                        Du velger selv hvilke kategorier de kan melde seg på i.
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card" data-group="type" data-value="arrangement">
                    <div class="dashicons dashicons-tickets-alt"></div>
                    <div class="header">Workshop / Kurs / Treff</div>
                    <p>
                        Enkel påmelding hvor deltakerne kun oppgir sitt navn og mobilnummer. 
                        Praktisk for foredrag, workshop, meet-up, eller noe annet.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-6 nop">
                <div id="warningWorkshop" class="warning col-xs-12">
                    <div class="alert alert-warning" role="alert">
                        OBS: På denne typen arrangement kan det kun registreres enkeltpersoner som deltakere. Bruk mønstring/festival hvis det skal være mulig å melde på grupper og innslag.
                    </div>
                </div>
            </div>
        </div>

        <h4>
            Hvordan skal påmeldingen skje?
            <small class="text-muted">(velg ved å trykke på en av boksene nedenfor)</small>
        </h4>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card" data-group="pamelding" data-value="videresending">
                    <div class="dashicons dashicons-networking"></div>
                    <div class="header">Videresending</div>
                    <p>
                        Velger du denne er du avhengig av at andre
                        arrangementer sender deltakere til deg, 
                        da det ikke finnes påmeldingsskjema noe sted.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="optionCard card" data-group="pamelding" data-value="apen">
                    <div class="dashicons dashicons-unlock"></div>
                    <div class="header">Åpen påmelding</div>
                    <p>
                        {% if omrade.getType() == 'fylke' %}
                            <span class="label label-info">Kommer i 2021</span>
                        {% endif %}
                        Åpner påmeldingen for hvem som helst gjennom vanlig påmeldingsskjema.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-3">
                {#
                <div class="optionCard card" data-group="pamelding" data-value="lukket">
                    <div class="dashicons dashicons-lock"></div>
                    <div class="header">Påmelding med krav</div>
                    <p>
                        <span class="label label-info">Kommer snart</span>

                        Her kan du sette noen krav deltakere må oppfylle før de kan melde seg på,
                        for eksempel at de må være påmeldt fylkesfestivalen din.
                    </p>
                </div>
                #}
            </div>
        </div>

        {% if omrade.getType() == 'kommune' %}
            <h4>Arrangerer du sammen med andre
                {{ omrade.getFylke().erOslo() ? 'bydeler' : 'kommuner'}}?</h4>
            <div class="row" style="margin-top: 2em;">

                <div class="col-xs-6 col-sm-4 col-lg-3">

                    <div class="btn-group radioButtons" data-name="sammen">
                        <button type="button" class="btn btn-default" value="yes">
                            &nbsp; Ja &nbsp;</button>
                        <button type="button" class="btn btn-default selected" value="no">
                            &nbsp; Nei &nbsp;</button>
                    </div>
                </div>
            </div>

            <div id="medArrangor" style="display:none; margin-top: 1em;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <label>Kryss av for de du arrangerer sammen med</label>
                        <p id="fellesmonstringWarning">
                            Vi vet at nærhet til UKM er en viktig årsak til 
                            at ungdom velger å delta eller ikke.
                            Dette er viktig å tenke gjennom før man oppretter en fellesmønstring.
                        </p>
                        <ol class="list-group">
                            {% for kommune in omrade.getFylke().getKommuner().getAll() %}
                                <li class="list-group-item">
                                    <label class="{{ kommune.getId() == omrade.getKommune().getId() ? 'text-muted'}}">
                                        <input class="form-control" type="checkbox" value="{{kommune.getId()}}" name="kommuner[]" data-name="{{kommune.getNavn()}}" {{ kommune.getId() == omrade.getKommune().getId() ? 'checked disabled'}}/>
                                        {{ kommune.getNavn() }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        {% endif %}

        <div id="omArrangementet" style="display:none;">
            <div id="velgSynlig" style="display:none;">
                <h4>Skal arrangementet vises på UKM.no?</h4>
                <div class="row" style="margin-top: 2em;">
                    <div class="col-xs-12 col-sm-6">
                        <div class="btn-group radioButtons" data-name="synlig">
                            <button type="button" class="btn btn-default selected" value="true">
                                &nbsp; Ja &nbsp;</button>
                            <button type="button" class="btn btn-default" value="false">
                                &nbsp; Nei &nbsp;</button>
                        </div>
                        <p class="text-muted">
                            Som standard skal arrangementet vises.
                            I enkelte tilfeller, hvor
                            {{ omrade.getType() == 'kommune' ? (omrade.getFylke().erOslo() ? 'bydelen' : 'kommunen') : 'fylket' }}
                            har mange arrangementer, er det praktisk å ha et skjult arrangement for å håndtere videresending.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:2em;">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Navn på arrangementet</label>
                        <input type="text" class="form-control form-control-lg" name="navn" id="arrangement_navn" value="{{ omrade.getType() == 'fylke' ? 'UKM-festivalen i '}}{{ omrade.getNavn() }}" placeholder="Trøndelag, Viken Øst, Nordland, Agder..." required/>
                    </div>

                    <div class="form-group" id="startDate">
                        <label>Når starter arrangementet?</label>
                        <input class="datepicker_{{ GET('type') }} form-control" type="text" id="arrangement_start" name="start" value="{{ "now + 2 months"|dato('d.m.Y') }}" required>
                    </div>
                    {#<div class="form-group" id="stopDate">
                        <label>Når slutter arrangementet?</label>
                        <input class="datepicker_{{ GET('type') }} form-control" type="text" name="stop" value="{{ "now + 2 months"|dato('d.m.Y') }}" required>
                    </div> #}
                </div>
            </div>


            <div class="row" id="path-infos">
                <div class="col-xs-12 col-sm-6">
                    <b>Nettsted-adresse for arrangementet</b>
                    <div class="input-group input-group">
                        <span class="input-group-addon">
                            UKM.no/
                        </span>
                        <input type="text" class="form-control" name="path" id="path" value="{{ path_forslag }}" readonly>
                    </div>

                    <div id="path_status" style="margin-bottom: 1em;">
                        <div id="path_loading" style="display: none;">
                            <img src="/wp-admin/images/wpspin_light.gif"/>
                            Sjekker om adressen er ledig...
                        </div>
                        <div id="path_exists" class="text-danger" style="display:none;">
                            Denne adressen er opptatt. Skriv inn ny adresse.
                            <br/>
                            <b>OBS: du kan kun bruke a-z, 0-9 og _</b>
                        </div>
                        <div id="path_available" class="text-success" style="display:none;">
                            Adressen er ledig.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 2em;">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Opprett</button>
                </div>
            </div>
        </div>
    </form>
</div>
