<style>
    .mt-1 {
        margin-top: 0.25em;
    }
    .mb-0 {
        margin-bottom: 0;
    }

    .dashicons {
        width: 1em;
        height: 1.2em;
        font-size: 1.4em;
        line-height: 1.3em;
    }
</style>
{% include "wp_modul.flashbag.html.twig" %}

<div class="container-fluid">
    <h2>Velg område</h2>
    <div class="row">
        {% for omrade in omrader %}
            <div class="col-xs-6 col-sm-3 col-lg-3">
                <div class="card" style="text-align: center;">
                    <a href="?page={{GET('page')}}&omrade={{omrade.getForeignId()}}&type={{omrade.getType()}}&flerekommuner={{omrade.getType()=='kommune'}}">
                        <div style="font-size: 3em; text-align: center;">
                            <span class="dashicons dashicons-location"></span>
                        </div>
                        <b style="text-transform: uppercase; font-size: 2em; font-weight: bold;">
                            {{ omrade.getNavn() }}
                        </b>
                        </a>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">
                <p class="lead">
                    Fant ingen {{ GET('page') == 'UKMnettverket_kommune' ? 'kommuner/bydeler' : 'fylker' }} du er administrator for.
                </p>

                {% if GET('page') == 'UKMnettverket_kommune' %}
                    <p class="lead">
                    {% if current_admin.erAdmin('fylke') %}
                        {% if current_admin.getAntallOmrader('fylke') == 1 %}
                            Hvis du velger "<a href="?page=UKMnettverket_fylke">{{ (current_admin.getOmrader('fylke')|first).getNavn() }}</a>" i menyen til venstre, kan du velge ett av dine fylker, 
                            og deretter redigere administratorer og arrangement for dine kommuner.
                        {% else %}
                            Hvis du velger "Dine fylker" i menyen til venstre, kan du velge ett av dine fylker, 
                            og deretter redigere administratorer og arrangement for dine kommuner.
                        {% endif %}
                    {% else %}
                        <p class="lead">
                            Kontakt 
                            <a href="mailto:support@ukm.no?subject=Bruker uten område ({{ current_admin.getId() }})">support@ukm.no</a>
                            og fortell oss hvilken kommune/bydel du ønsker tilgang til.
                        </p>
                    {% endif %}
                    </p>
                {% endif %}
                    
            </div>
        {% endfor %}
    </div>
</div>
