<div class="container as-container">
    <div class="as-card-1 as-padding-space-3 as-margin-top-space-4">

        {% if tilgang == false %}
            <h3 class="as-text-center">Du har ikke tilgang!</h3>
            <br>
            <p class="as-text-center">{{ omradekontaktperson.getFornavn() }} er tilknyttet <b>{{ omrade.getNavn() }}</b>, og du har derfor ikke tilgang til å redigere informasjonen.
            <p class="as-text-center">For å gjøre endringer, vennligst kontakt <b>{{ omrade.getNavn() }}</b> eller <a href="mailto:support@ukm.no">UKM Norge support</a></p>

            <div class="as-margin-top-space-8">
                <h5>Tror du at {{ omradekontaktperson.getFornavn() }} {{ omradekontaktperson.getEtternavn() }} ({{ omradekontaktperson.getMobil() }}) tilhører ditt område?</h5>
                <div class="as-margin-top-space-1">
                    <p>Hvis du overtar en kontaktperson, vil vedkommende bli tilknyttet ditt fylke, din kommune eller ditt arrangement. Du får da muligheten til å redigere informasjonen deres.</p>
                </div>
                
                <div class="warning-type vue-componment-notification-message nosh-impt as-card-2 as-padding-space-2 as-margin-top-space-2">
                    <div class="as-padding-bottom-space-1">
                        <h5 class="title">Viktig å være oppmerksom på:</h5>
                    </div> 
                    <span class="description nop">En kontaktperson kan være tilknyttet flere steder. Eventuelle endringer du gjør vil gjenspeiles på alle steder der kontaktpersonen er i bruk. Sørg derfor for at oppdateringene er riktige og relevante for alle sammenhenger.</span>
                    <div class="as-margin-top-space-1">
                        <p><b>Merk: Denne prosessen vil bli loggført. Dette gjør det mulig å spore hvem som har utført handlingen senere.</b></p>
                    </div>

                </div>

                <div class="as-margin-top-space-2">
                    <button id="overtaKontakt" okpid="{{ omradekontaktperson.getId() }}" class="btn btn-send-form btn-sm btn-warning">Overta kontaktpersonen</button>
                </div>
            </div>

            <div class="as-margin-top-space-4">
                <h5>Tilhører ikke kontaktpersonen ditt område, men du ønsker å gjøre endringer?</h5>
                
                <div class="primary-type vue-componment-notification-message nosh-impt as-card-2 as-padding-space-2 as-margin-top-space-2">
                    <div class="as-padding-bottom-space-1">
                        <h5 class="title">Kontakt eier</h5>
                    </div> 
                    <span class="description nop">For å utføre endringer, vennligst kontakt {{ omrade.getNavn() }} eller <a href="mailto:support@ukm.no">UKM Norge support</a>.</span>
                </div>
            </div>
            
        {% else %}

            <form method="POST" action="?page=UKMnettverket_kommune&action=omradekontaktperson-edit" enctype="multipart/form-data">

                <input type="hidden" name="omradeId" value="{{ omrade.getForeignId() }}">
                <input type="hidden" name="omradeType" value="{{ omrade.getType() }}">
                <input type="hidden" id="okpId" name="okpId" value="{{ omradekontaktperson.getId() }}">
                <input type="hidden" id="mobil" name="mobil" value="{{ omradekontaktperson.getMobil() }}">
                <input type="hidden" id="deletedProfileImage" name="deletedProfileImage" value="false">

                <div class="form-group">
                    <label for="mobildisabled">Mobil</label>
                    <input disabled class="form-control on-change-input-okp" id="mobildisabled" type="tel" name="mobildisabled" maxlength="8" required value="{{ omradekontaktperson.getMobil() }}"/>
                </div>

                <div class="form-group">
                    <label for="first_nafornavnme">Fornavn</label>
                    <input class="form-control on-change-input-okp" id="fornavn" type="text" name="fornavn" required value="{{ omradekontaktperson.getFornavn() }}" autofocus/>
                </div>

                <div class="form-group">
                    <label for="etternavn">Etternavn</label>
                    <input class="form-control on-change-input-okp" id="etternavn" type="text" name="etternavn" required value="{{ omradekontaktperson.getEtternavn() }}"/>
                </div>


                <div class="form-group">
                    <label for="epost">E-postadresse</label>
                    <input {{ omradekontaktperson.hasValidMobil() == false ? 'disabled' : '' }} class="form-control on-change-input-okp" id="epost" type="epost" name="epost" value="{{ omradekontaktperson.getEpost() }}"/>
                </div>

                <div class="form-group">
                    <label for="beskrivelse">Beskrivelse</label>
                    <textarea class="form-control" id="beskrivelse" type="beskrivelse" name="beskrivelse" value="">{{ omradekontaktperson.getBeskrivelse() }}</textarea>
                </div>

                
                {# Kontaktpersonen har bilde men ikke via OmradeKontaktperson, da blir det WP bilde #}
                {% if omradekontaktperson.hasProfileImage() and omradekontaktperson.hasProfileImageIOmradeKontaktperson() == false  %}
                <div class="profilbilde form-group">
                    <img class="okp-img" src="{{ omradekontaktperson.getWPAdminImageUrl() }}" />
                    <p class="text-muted info-text-wp-bilde">Gå til kommune- eller fylkessiden for å bytte bilde.</p>
                </div>
                {% elseif omradekontaktperson.hasProfileImage() %}
                    <div class="profilbilde form-group">
                        <label for="profilbilde">Profilbilde</label>
                        <br>
                        <div class="profile_picture">
                            <img class="okp-img" src="{{ omradekontaktperson.getProfileImageUrl() }}" />
                            <div class="slett-bilde as-margin-top-space-1">
                                <button id="deleteProfileImageOkp" class="btn btn-send-form btn-sm btn-danger">Slett profilbilde</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <div id="lastOppBildeSection" class="last-opp-bilde {{ omradekontaktperson.hasProfileImage() ? 'hide' : '' }} ">
                        <img class="okp-img" src="" />
                        <div class="last-opp card card-body">
                            Last opp profilbilde: <input id="profileImageInput" class="kontaktperson-profile-picture" accept="image/*" type="file" name="profile_picture" />
                        </div>
                        <div class="last-opp-vent hide card card-body">
                            <span>Trykk lagre for å laste opp profilbildet!</span>
                        </div>
                    </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-send-form btn-sm btn-success" type="submit">Lagre</button>    
                    <a href="{{ tilbakeUrl }}" class="btn btn-send-form btn-sm btn-info">Tilbake</a>    
                </div>
                <div id="lagreInfoMsg">

                </div>
            </form>

        {% endif %}
    </div>
</div>

<script>
jQuery('#deleteProfileImageOkp').on('click', function(e) {
    e.preventDefault();
    jQuery('#deletedProfileImage').val('true');
    jQuery(e.currentTarget).parent().parent().detach();
    jQuery('#lastOppBildeSection').removeClass('hide');
});

jQuery(document).on('click', "#overtaKontakt", function (e) {
    e.preventDefault();
    var result = confirm('Er du sikker på at du vil overta denne kontaktpersonen for ditt område?');

    if (result) {
        var id = jQuery(this).attr('okpid');
        var urlParams = new URLSearchParams(window.location.search);

        // Perform an AJAX request to handle the action
        jQuery.ajax({
            url: ajaxurl,
            type: 'POST',
            data: { 
                action: 'UKMnettverket_ajax',
                controller: 'overtaOmradeKontaktperson',
                okpid: id,
                omradeId : urlParams.get('omradeId'),
                omradeType : urlParams.get('omradeType')
            },
            success: function (response) {
                location.reload();
            },
            error: function () {
                alert('Noe gikk galt. Vennligst kontakt support');
            }
        });
    }
    return false;
});

jQuery('#profileImageInput').on('change', function(e) {
    const file = event.target.files[0];

    if(file) {
        jQuery('.last-opp').addClass('hide');
        jQuery('.last-opp-vent').removeClass('hide');
        const reader = new FileReader();
        reader.onload = function(e) {
            jQuery('.okp-img').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
    }
});
</script>

<style>
.okp-img {
    max-width: 250px;
    max-height: 250px;
}
.last-opp.card {
    margin-top: 0;
}
.vue-componment-notification-message.warning-type {
    background: var(--as-color-primary-warning-lightest);
    border: 2px solid var(--as-color-primary-warning-light);
}
.vue-componment-notification-message.primary-type {
    background: var(--as-color-primary-primary-lightest);
    border: 2px solid var(--as-color-primary-primary-light);
}
.info-text-wp-bilde {
    margin-top: 5px !important; 
    margin-bottom: 0 !important;
}
</style>