{% set URL = '?page='~ GET('page') ~'&omrade='~ GET('omrade') ~'&type='~ GET('type') %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2>{{ omrade.getNavn()}}</h2>
			{% include "wp_modul.flashbag.html.twig" %}

			{% if omrade.getType() == 'kommune' %}
				<ol class="list-group">
					<li class="list-group-item">
						<p>Lokalside:
							<a href="//{{UKM_HOSTNAME}}{{ omrade.getKommune().getPath() }}">{{UKM_HOSTNAME}}{{omrade.getKommune().getPath()}}</a>
							{% if is_super_admin and not blog_eksisterer %}
								<code>⚠️ siden finnes ikke!</code>
							{% elseif is_super_admin and blog_slettet %}
								<code>⚠️ siden er deaktivert!</code>
							{% endif %}
						</p>

						{% if omrade.getArrangementer().getAntall() != 1 %}
							{% include "nettside/omrade.html.twig" %}
						{% endif %}

						{% if is_super_admin and omrade.getType() == 'kommune' %}
							<div class="superadmin">
								<p>
									Lokalsiden (kommunesiden) kan finnes i 2 tilstander:
									<br/>
									1. Området har kun ett arrangement
									<br/>
									&nbsp; &nbsp; 1a. Arrangementet er IKKE fellesmønstring: lokalsiden viser arragementsinformasjon.
									<br/>
									&nbsp; &nbsp; 1b. Arrangementet
									<bold>er</bold>
									fellesmønstring: lokalsiden skal ikke ha arrangementsinformasjon.
									<br/>
									2. Området har flere, eller ingen arrangement: lokalsiden viser en liste over arrangementer i området, og arrangement-info skal da fjernes.
									<br/>
									Dette området har
									{{ omrade.getArrangementer().getAntall() }}
									arrangement, og skal derfor være i tilstand
									{{ omrade.getArrangementer().getAntall() == 1 ? '1' : '2' }}.
								</p>
								<div class="mt-4 mb-2">
									{% if not blog_eksisterer %}
										<a href="{{URL}}&fix=opprett_nettsted" class="btn btn-sm btn-ukm superadmin">Opprett nettside</a>
									{% else %}
										<a href="{{URL}}&fix=oppdater_fra_kommune" class="btn btn-sm btn-ukm superadmin">Oppdater fra kommune-info</a>
									{% endif %}
									{% if blog_eksisterer and blog_slettet %}
										<a href="{{URL}}&fix=aktiver_nettsted" class="btn btn-sm btn-ukm superadmin">Aktiver nettside</a>
									{% endif %}

									{% if omrade.getArrangementer().getAntall() == 1 and not omrade.getArrangementer().getFirst().erFellesmonstring() %}
										<a href="{{URL}}&fix=oppdater_arrangement" class="btn btn-sm btn-ukm superadmin">Oppdater fra arrangement-info</a>
									{% else %}
										<a href="{{URL}}&fix=fjern_arrangement" class="btn btn-sm btn-ukm superadmin">Fjern arrangement-info</a>
									{% endif %}
								</div>
							</div>

						{% endif %}
						{% if omrade.getArrangementer().getAntall() > 0 and mangler_noe %}
							{% if is_super_admin %}<hr/>
							{% endif %}
                            {% include "omrade/mangler.html.twig" %}
						{% endif %}
					</li>
				</li>
			{% elseif omrade.getType() == 'fylke' %}
				<ol class="list-group">
					<li class="list-group-item">
						<p>Fylkessiden:
							<a href="//{{UKM_HOSTNAME}}{{ omrade.getFylke().getPath() }}">{{UKM_HOSTNAME}}{{omrade.getFylke().getPath()}}</a>
							{% if is_super_admin and not blog_eksisterer %}
								<code>⚠️ siden finnes ikke!</code>
							{% elseif is_super_admin and blog_slettet %}
								<code>⚠️ siden er deaktivert!</code>
							{% endif %}
						</p>
						{% include "nettside/omrade.html.twig" %}
						{% if is_super_admin %}
							<div class="superadmin">
								<p>
									Fylkessiden skal aldri være tilknyttet ett spesifikt arrangement, men være en informasjonsside for hele fylket. 
																		Her vises lenker til alle fylkets arrangementer. Fylkessiden skal aldri slettes.
								</p>
								<div class="mt-4 mb-2">
									{% if not blog_eksisterer %}
										<a href="{{URL}}&fix=opprett_nettsted" class="btn btn-xs btn-ukm superadmin">Opprett nettside</a>
									{% else %}
										<a href="{{URL}}&fix=oppdater_fra_fylke" class="btn btn-xs btn-ukm superadmin">Oppdater siden med fylke-info</a>
									{% endif %}
									{% if blog_eksisterer and blog_slettet %}
										<a href="{{URL}}&fix=aktiver_nettsted" class="btn btn-xs btn-ukm superadmin">Aktiver nettside</a>
									{% endif %}
								</div>
							</div>
						{% endif %}
					</li>
				</li>
			{% endif %}
		</div>
		{% if omrade.getType() == 'fylke' %}
			<h2>&nbsp;</h2>
			<div class="col-xs-12 col-md-4">
				<ol class="list-group">
					<li class="list-group-item">
						<p>
							<b>Kontaktinformasjon til administratorer i
								{{ omrade.getNavn() }}</b>
						</p>

                        {% if is_super_admin %}
                            <div class="superadmin text-muted mb-3">
                                UKM Norge-brukeren får ikke nødvendigvis 
                                riktige kontaktadresser i rapporten, da 
                                brukeren må være lagt til som administrator for aktuelt fylke.
                            </div>
                        {% elseif current_admin.getOmrader('fylke')|length > 1 %}
                            <p class="text-muted">
                                Fordi du er admin i flere fylker, må du huske å velge
                                hvilke fylker du ønsker å se kontaktpersoner for når
                                du har åpnet rapporten
                            </p>
                        {% endif %}

						<p>
							<a href="/wp-admin/user/?page=UKMrapporter&action=rapport&rapport=Lokalkontakter" class="btn btn-sm btn-ukm">Vis e-postadresser</a>
						</p>
					</li>
				</ol>
			</div>
		{% endif %}
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4">
			{% include "omrade/administratorer.html.twig" %}
		</div>

		<div class="col-xs-12 col-md-4">
			<h4>Arrangementer</h4>
			{% include "omrade/arrangementer.html.twig" with { show: 'kommende' } %}
			{% if omrade.getType() == 'fylke' %}
				<h4>Tidligere arrangementer</h4>
				{% include "omrade/arrangementer.html.twig" with { show: 'tidligere' } %}
			{% endif %}
		</div>

        {% if omrade.getType() == 'kommune' %}
        	<div class="col-xs-12 col-md-4">
                <h4>Tidligere arrangementer</h4>
                {% include "omrade/arrangementer.html.twig" with { show: 'tidligere' } %}
            </div>
        {% endif %}

		{% if omrade.getType() == 'fylke' %}
			<div class="col-xs-12 col-md-4">
				<h4>{{ omrade.getFylke().erOslo() ? 'Bydeler' : 'Kommuner' }}</h4>
				<ol class="list-group">
					{% for kommune in omrade.getFylke().getKommuner().getAll() %}
						<li class="list-group-item">
							<div class="float-right pull-right">
								<a href="?page=UKMnettverket_kommune&omrade={{ kommune.getId() }}&type=kommune">
									<span class="dashicons dashicons-edit"></span>
								</a>
							</div>
							<a href="?page=UKMnettverket_kommune&omrade={{ kommune.getId() }}&type=kommune">
								<b>{{ kommune.getNavn() }}</b>
							</a>
						</li>
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	</div>
</div>
