<style>

a.nocolor,
a.nocolor:visited {
    color: rgba(0,0,0,.85);
}
</style>
<h2>{{ omrade.getNavn()}}</h2>
{% include "wp_modul.flashBag.html.twig" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h4>Administratorer</h4>
            <ol class="list-group">
                {% for admin in omrade.getAdministratorer().getAll() %}
                    <li class="list-group-item">
                        <div class="float-right pull-right">
                            <a href="?page={{ GET('page') }}&removeAdmin={{ admin.getId() }}&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}">
                                <span class="dashicons dashicons-trash"></span>
                            </a>
                        </div>
                        <b>{{ admin.getUser().getNavn() }}</b>
                        {{ admin.getUser().getPhone() }}
                 5   </li>
                {% else %}
                    <li class="list-group-item">
                        Ingen administratorer er lagt til enda.
                    </li>
                {% endfor %}
                <p class="mt-1">
                    <a href="?page={{ GET('page') }}&action=administrator-add&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}">
                        Legg til administrator
                    </a>
                </p>
            </ol>
        </div>

        <div class="col-xs-12 col-md-4">
            <h4>Arrangementer</h4>

            <ol class="list-group">
                {% for arrangement in omrade.getArrangementer( season ).getAll() %}
                    <li class="list-group-item">
                        <div class="float-right pull-right">
                            <a href="{{ arrangement.getLink() }}wp-admin/" target="_blank">
                                <span class="dashicons dashicons-external"></span>
                            </a>
                        </div>
                        <b>{{ arrangement.getNavn() }}</b>
                        <br/>
                        <small>
                            <div style="margin-top: .4em;">
                                <span class="dashicons dashicons-calendar-alt"></span>
                                {{
                                            arrangement.erRegistrert() ? 
                                                arrangement.getStart()|dato('d.M.') :
                                                'ikke registrert'
                                        }}

                                <span style="margin-left: 1em;"></span>
                                <span class="dashicons dashicons-buddicons-buddypress-logo"></span>
                                XX{#{ arrangement.getInnslag().getAntall() }#}
                                påmeldte
                            </div>
                            <div style="margin-top: .6em;">
                                <a href="{{arrangement.getLink()}}" class="nocolor" target="_blank">
                                    {{ arrangement.getLink()}}
                                </a><a href="#"><span class="dashicons dashicons-edit" style="font-size: 1.5em; margin-top: 0.1em; margin-left: 0em; height: auto; width: auto"></span></a>
                            </div>
                        </small>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        Ingen arrangement er lagt til enda.
                    </li>
                {% endfor %}
                <p class="mt-1">
                    <a href="?page={{ GET('page') }}&action=arrangement-add&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}">
                        Legg til arrangement
                    </a>
                </p>
            </ol>
        </div>

        {% if omrade.getType() == 'fylke' %}
            <div class="col-xs-12 col-md-4">
                <h4>{{ omrade.getFylke().erOslo() ? 'Bydeler' : 'Kommuner' }}</h4>

                <ol class="list-group">
                    {% for kommune in omrade.getFylke().getKommuner().getAll() %}
                        <li class="list-group-item">
                            <div class="float-right pull-right">
                                <a href="?page=UKMnettverket_kommune&omrade={{ kommune.getId() }}&type=kommune">
                                    <span class="dashicons dashicons-edit"></span>
                                </a>
                            </div>
                            <b>{{ kommune.getNavn() }}</b>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    </div>
</div>
