{% set URL = '?page='~ GET('page') ~'&omrade='~ GET('omrade') ~'&type='~ GET('type') %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2>{{ omrade.getNavn()}}</h2>
			{% include "wp_modul.flashbag.html.twig" %}

			{% if omrade.getType() == 'kommune' %}
				<ol class="list-group">
					<li class="list-group-item">
						<p>Lokalside:
							<a href="//{{UKM_HOSTNAME}}{{ omrade.getKommune().getPath() }}">{{UKM_HOSTNAME}}{{omrade.getKommune().getPath()}}</a>
							{% if is_super_admin and not blog_eksisterer %}
								<code>⚠️ siden finnes ikke!</code>
							{% elseif is_super_admin and blog_slettet %}
								<code>⚠️ siden er deaktivert!</code>
							{% endif %}
						</p>

						{% if omrade.getArrangementer( season ).getAntall() > 1 %}
                            {% include "nettside/omrade.html.twig" %}
						{% endif %}

						{% if is_super_admin and omrade.getType() == 'kommune' %}
							<div class="superadmin">
								<p>
									Lokalsiden (kommunesiden) kan finnes i 2 tilstander:
									<br/>
									1. Området har kun ett arrangement
									<br/>
									&nbsp; &nbsp; 1a. Arrangementet er IKKE fellesmønstring: lokalsiden viser arragementsinformasjon.
									<br/>
									&nbsp; &nbsp; 1b. Arrangementet
									<bold>er</bold>
									fellesmønstring: lokalsiden skal ikke ha arrangementsinformasjon.
									<br/>
									2. Området har flere, eller ingen arrangement: lokalsiden viser en liste over arrangementer i området, og arrangement-info skal da fjernes.
									<br/>
									Dette området har
									{{ omrade.getArrangementer(season).getAntall() }}
									arrangement, og skal derfor være i tilstand
									{{ omrade.getArrangementer(season).getAntall() == 1 ? '1' : '2' }}.
								</p>
								<div class="mt-4 mb-2">
									{% if not blog_eksisterer %}
										<a href="{{URL}}&fix=opprett_nettsted" class="btn btn-sm btn-ukm superadmin">Opprett nettside</a>
									{% else %}
										<a href="{{URL}}&fix=oppdater_fra_kommune" class="btn btn-sm btn-ukm superadmin">Oppdater fra kommune-info</a>
									{% endif %}
									{% if blog_eksisterer and blog_slettet %}
										<a href="{{URL}}&fix=aktiver_nettsted" class="btn btn-sm btn-ukm superadmin">Aktiver nettside</a>
									{% endif %}

									{% if omrade.getArrangementer(season).getAntall() == 1 and not omrade.getArrangementer(season).getFirst().erFellesmonstring() %}
										<a href="{{URL}}&fix=oppdater_arrangement" class="btn btn-sm btn-ukm superadmin">Oppdater fra arrangement-info</a>
									{% else %}
										<a href="{{URL}}&fix=fjern_arrangement" class="btn btn-sm btn-ukm superadmin">Fjern arrangement-info</a>
									{% endif %}
								</div>
							</div>

						{% endif %}

						{% if omrade.getArrangementer( season ).getAntall() > 0 and pakrevd_mangler|length > 0 %}
							{% if is_super_admin %}<hr/>
							{% endif %}
							<p class="text-danger bold">
								{{ omrade.getNavn() }}
								mangler påmelding for
								{% for type in pakrevd_mangler %}
									{{ type.getNavn()|lower }}{{ loop.index == pakrevd_mangler|length - 1 ? ' og ' : (not loop.last ? ', ')}}
								{% endfor %}.
							</p>
							<p>
								I UKM skal det være mulig å melde seg på utstilling, film og alle scenekategorier (dans, litteratur, musikk, teater og annet).
								                                Du avgjør om
								{{ omrade.getNavn() }}
								skal ha flere arrangement som til sammen dekker alt, eller kun ett som tilbyr alle kategorier. 
								                                Det er mulig å åpne for samme kategori i flere arrangementer.
							</p>
							<p>
								{% if omrade.getArrangementer(season).getAntall() == 1 %}
									{% set arrangement = omrade.getArrangementer(season).getFirst() %}
									Rett feilen ved å gå inn i
									<a href="{{ arrangement.getLink() }}wp-admin/">arrangementssystemet for
										{{ arrangement.getNavn() }}</a>.
								{% else %}
									Rett feilen ved trykke deg inn i arrangementssystemet for ett av dine arrangementer, velg "Arrangement" i menyen,
									                                    og kryss av for
									{% for type in pakrevd_mangler %}
										{{ type.getNavn()|lower }}{{ loop.index == pakrevd_mangler|length - 1 ? ' og ' : (not loop.last ? ', ')}}
									{% endfor %}.
								{% endif %}
							</p>

						{% endif %}
					</li>
				</li>
			{% elseif omrade.getType() == 'fylke' %}
				<ol class="list-group">
					<li class="list-group-item">
						<p>Fylkessiden:
							<a href="//{{UKM_HOSTNAME}}{{ omrade.getFylke().getPath() }}">{{UKM_HOSTNAME}}{{omrade.getFylke().getPath()}}</a>
							{% if is_super_admin and not blog_eksisterer %}
								<code>⚠️ siden finnes ikke!</code>
							{% elseif is_super_admin and blog_slettet %}
								<code>⚠️ siden er deaktivert!</code>
							{% endif %}
						</p>
                        {% include "nettside/omrade.html.twig" %}
						{% if is_super_admin %}
                            <div class="superadmin">
                                <p>
                                    Fylkessiden skal aldri være tilknyttet ett spesifikt arrangement, men være en informasjonsside for hele fylket. 
                                                                    Her vises lenker til alle fylkets arrangementer. Fylkessiden skal aldri slettes.
                                </p>
                                <div class="mt-4 mb-2">
                                    {% if not blog_eksisterer %}
                                        <a href="{{URL}}&fix=opprett_nettsted" class="btn btn-xs btn-ukm superadmin">Opprett nettside</a>
                                    {% else %}
                                        <a href="{{URL}}&fix=oppdater_fra_fylke" class="btn btn-xs btn-ukm superadmin">Oppdater siden med fylke-info</a>
                                    {% endif %}
                                    {% if blog_eksisterer and blog_slettet %}
                                        <a href="{{URL}}&fix=aktiver_nettsted" class="btn btn-xs btn-ukm superadmin">Aktiver nettside</a>
                                    {% endif %}
                                </div>
                            </div>
						{% endif %}
					</li>
				</li>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h4>Administratorer</h4>
			<ol class="list-group">
				{% for admin in omrade.getAdministratorer().getAll() %}
					<li class="list-group-item">
						<div class="float-right pull-right">
							<a href="?page={{ GET('page') }}&removeAdmin={{ admin.getId() }}&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}">
								<span class="dashicons dashicons-trash"></span>
							</a>
						</div>
						<b>{{ admin.getUser().getNavn() }}</b>
						{{ admin.getUser().getPhone() }}
						{% if is_super_admin %}
							<br/><small>Brukernavn:
								{{ admin.getUser().getUsername() }}</small>
						{% endif %}
					</li>
				{% else %}
					<li class="list-group-item">
						Ingen administratorer er lagt til enda.
					</li>
				{% endfor %}
				<p class="mt-1">
					<a href="?page={{ GET('page') }}&action=administrator-add&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}">
						Legg til administrator
					</a>
				</p>
			</ol>
		</div>

		<div class="col-xs-12 col-md-4">
			<h4>Arrangementer</h4>
			<ol class="list-group">
				{% for arrangement in omrade.getArrangementer( season ).getAll() %}
					<li class="list-group-item">
						<div class="float-right pull-right">
							<a href="{{ arrangement.getLink() }}wp-admin/" target="_blank">
								<span class="dashicons dashicons-external"></span>
							</a>
						</div>
						<b>
							<a href="{{ arrangement.getLink() }}wp-admin/" target="_blank">
								{{ arrangement.getNavn() }}
							</a>
						</b>
						<br/>
						<small>
							<div style="margin-top: .4em;">
								<span class="dashicons dashicons-calendar-alt"></span>
								{{
                                    arrangement.erRegistrert() ? 
                                        arrangement.getStart()|dato('d.M.') :
                                        'ikke registrert'
                                }}
								-
								{% if arrangement.getStop()|dato('Y') < season %}
									<a href="{{ arrangement.getLink() }}wp-admin/admin.php?page=UKMmonstring" target="_blank" class="text-danger bold">ugyldig sluttdato</a>
								{% else %}
									{{ arrangement.getStop()|dato('d.M.')}}
								{% endif %}

								<span style="margin-left: 1em;"></span>
								<span class="dashicons dashicons-buddicons-buddypress-logo"></span>
								??
								{#{ arrangement.getInnslag().getAntall() }#}
								påmeldte
							</div>
							<div style="margin-top: .6em;">
								{% if arrangement.erFellesmonstring() %}
									<div class="mb-3">
										<span class="dashicons dashicons-location-alt"></span>
										Felles for:
										{% for kommune in arrangement.getKommuner().getAll() %}
											{% if kommune.getId() != GET('omrade') %}
												<a href="?page={{GET('page')}}&omrade={{kommune.getId()}}&type={{GET('type')}}">
												{% endif %}
												{{kommune.getNavn()}}
												{% if kommune != GET('omrade') %}
												</a>
											{% endif %}
											{{ not loop.last ? ', '}}
										{% endfor %}
									</div>
								{% endif %}

								{% if not arrangement.erSynlig() %}
									<span class="dashicons dashicons-hidden"></span>
									Skjult arrangement
								{% else %}
									<a href="{{arrangement.getLink()}}" class="nocolor" target="_blank">
										{{ arrangement.getLink()}}
									</a>
								{% endif %}

								{% if is_super_admin %}
									<a href="{{URL}}&fix=oppdater_path&arr={{arrangement.getId()}}">
										<span class="dashicons dashicons-edit" style="font-size: 1.5em; margin-top: 0.1em; margin-left: 0em; height: auto; width: auto"></span>
									</a>

									{% if not arrangement.getAttr('blog_eksisterer') %}
										<span class="text-danger">{{ arrangement.erSynlig() ? 'Nettstedet' : 'Arrangementsystemet' }}
											er ikke opprettet!</span>
									{% elseif arrangement.getAttr('blog_slettet') %}
										<span class="text-danger">{{ arrangement.erSynlig() ? 'Nettstedet' : 'Arrangementsystemet' }}
											er deaktivert!</span>
									{% endif %}
								{% endif %}
							</div>
						</small>
						{% if is_super_admin %}
							<div class="mt-3 mb-3">
								<a href="{{URL}}&fix=leggtil_administratorer&arr={{arrangement.getId()}}" class="btn btn-xs btn-ukm superadmin">Endre administratorer</a>

								{% if not arrangement.getAttr('blog_eksisterer') %}
									<a href="{{URL}}&fix=opprett_nettsted&arr={{arrangement.getId()}}" class="btn btn-xs btn-ukm superadmin">Opprett
										{{ arrangement.erSynlig() ? 'nettsted' : 'arrangementsystem' }}</a>
								{% elseif arrangement.getAttr('blog_slettet') %}
									<a href="{{URL}}&fix=aktiver_nettsted&arr={{arrangement.getId()}}" class="btn btn-xs btn-ukm superadmin">Aktiver
										{{ arrangement.erSynlig() ? 'nettsted' : 'arrangementsystem' }}</a>
								{% else %}
									<a href="{{URL}}&fix=oppdater_arrangement&arr={{arrangement.getId()}}" class="btn btn-xs btn-ukm superadmin">Oppdater fra arrangement-info</a>
								{% endif %}
							</div>
						{% endif %}
					</li>
				{% else %}
					<li class="list-group-item">
						Ingen arrangement er lagt til enda.
					</li>
				{% endfor %}
				<p class="mt-1">
					<a href="?page={{ GET('page') }}&action=arrangement-add&omrade={{ omrade.getForeignId() }}&type={{ omrade.getType() }}">
						Legg til arrangement
					</a>
				</p>
			</ol>
		</div>

		{% if omrade.getType() == 'fylke' %}
			<div class="col-xs-12 col-md-4">
				<h4>{{ omrade.getFylke().erOslo() ? 'Bydeler' : 'Kommuner' }}</h4>
				<ol class="list-group">
					{% for kommune in omrade.getFylke().getKommuner().getAll() %}
						<li class="list-group-item">
							<div class="float-right pull-right">
								<a href="?page=UKMnettverket_kommune&omrade={{ kommune.getId() }}&type=kommune">
									<span class="dashicons dashicons-edit"></span>
								</a>
							</div>
							<a href="?page=UKMnettverket_kommune&omrade={{ kommune.getId() }}&type=kommune">
								<b>{{ kommune.getNavn() }}</b>
							</a>
						</li>
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	</div>
</div>
